html, body {
    position: relative;
    overflow-x: hidden;
}

body {
    background-color: #232323 !important;
    color: white !important;
}

.navbar {
    padding: 50px !important;
}
.name p  {
    text-transform: uppercase;
    font-size: 50px;

}
.logo img{
    width: 90%;
}

.fab {
    padding: 33px !important;
    font-size: 24px;
}

@media (max-width: 767px){
    .logo {
        margin-top: 150px;
    }
    .logo img{
        width: 90%;
        margin: 0 auto;
        display: block;
    }

    .countdown {
        width: 40% !important;
    }
    .timers {
        padding: 10px;
        
          
    }
    .timer h1 {
        font-size: 30px;
    }

}




/* Count Down timer */
.countdown {
    display: flex;
    justify-content: center;
  
}


.timer {
    padding: 30px;
    font-size: 20px;
      
}

.timer h1 {
    font-size: 45px;
}

h5 {
  font-family: 'Lato';
}